services:
  vue:
    build:
      context: ./vue
      target: vue_dev
    image: vue:latest
    restart: on-failure
    ports:
      - ${VUE_PORT:-3000}:3000
    volumes:
      - ./vue:/app:rw,cached
      - vue_node_modules:/app/node_modules:rw,cached

  frankenphp:
    build:
      context: ./symfony
    image: ${COMPOSE_PROJECT_NAME}-frankenphp
    restart: unless-stopped
    environment:
      SERVER_NAME: ${DOMAIN:-localhost}, frankenphp:${HTTP_PORT:-80}
      TRUSTED_PROXIES: ${TRUSTED_PROXIES:-127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16}
      TRUSTED_HOSTS: ${TRUSTED_HOSTS:-^${DOMAIN:-puc\.local|localhost}|frankenphp$$}
      DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-app}?serverVersion=${POSTGRES_VERSION:-16}&charset=${POSTGRES_CHARSET:-utf8}
      VUE_PORT: ${VUE_PORT:-3000}
      DOCS_PORT: ${DOCS_PORT:-5000}
      QGIS_SERVER_PORT: ${QGIS_SERVER_PORT:-6000}
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      XDEBUG_CONFIG: ${XDEBUG_CONFIG:-}
      NOMINATIM_PORT: ${NOMINATIM_PORT:-7000}
      DOMAIN: ${DOMAIN}
      CADDY_PROTOCOL: ${CADDY_PROTOCOL:-https}
      HTTP_PORT: ${HTTP_PORT:-80}
      HTTPS_PORT: ${HTTPS_PORT:-443}
      MAILER_DSN: ${MAILER_DSN:-smtp://mail.puc.local:1025}
      CADDY_SERVER_EXTRA_DIRECTIVES: ${CADDY_SERVER_EXTRA_DIRECTIVES}
      BASIC_AUTH_BCRYPT_PASSWORD: ${BASIC_AUTH_BCRYPT_PASSWORD}
      APP_ENV: ${APP_ENV:-prod}
    cap_add:
      - NET_ADMIN
    depends_on:
      - postgres
      - vue
      - qgis
      - docs
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
      - ${HTTPS_PORT:-443}:443/udp
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - qgis_projects:/app/public/qgis

  docs:
    build:
      context: ./docs
      target: docs_dev
    image: docs:latest
    restart: on-failure
    ports:
      - ${DOCS_PORT:-5000}:5000
    volumes:
      - ./docs:/app:rw,cached
      - docs_node_modules:/app/node_modules:rw,cached

  postgres:
    image: postgis/postgis:${POSTGIS_VERSION:-16-3.5}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
      PGPORT: ${POSTGRES_PORT:-5432}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data:rw

  nominatim:
    image: mediagis/nominatim:4.2
    ports:
      - ${NOMINATIM_PORT:-7000}:8080
    environment:
      # see https://github.com/mediagis/nominatim-docker/tree/master/4.2#configuration for more options
      PBF_URL: https://download.geofabrik.de/africa/cameroon-latest.osm.pbf
      REPLICATION_URL: https://download.geofabrik.de/africa/cameroon-updates/
      NOMINATIM_PASSWORD: ${NOMINATIM_PASSWORD:-very_secure_password}
    volumes:
      - nominatim-data:/var/lib/postgresql/14/main
    shm_size: 1gb

  qgis:
    build:
      context: ./docker/qgis
      args:
        - POSTGRES_HOST=${POSTGRES_HOST}
        - POSTGRES_PORT=${POSTGRES_PORT}
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_GEODATA_USER=${POSTGRES_GEODATA_USER}
        - POSTGRES_GEODATA_PASSWORD=${POSTGRES_GEODATA_PASSWORD}
    environment:
      # Do not run the embedded copy of nginx
      # SKIP_NGINX: "true"
      # Improve rendering performance
      QGIS_SERVER_PARALLEL_RENDERING: "true"
      QGIS_SERVER_MAX_THREADS: 4
      # Limit the maximum size returned by a GetMap
      QGIS_SERVER_WMS_MAX_HEIGHT: 5000
      QGIS_SERVER_WMS_MAX_WIDTH: 5000
      # Enable logging
      # QGIS_SERVER_LOG_LEVEL: 0
      # QGIS_SERVER_LOG_PROFILE: "true"
    ports:
      - ${QGIS_SERVER_PORT:-6000}:80
    volumes:
     # Data should be mount RO when working
     # with GeoPackages and more than one QGIS container
      # - ./docker/qgis/data:/io/data:ro
      - ./docker/qgis/plugins:/io/plugins
      - ./docker/qgis/svg:/var/lib/qgis/.local/share/QGIS/QGIS3/profiles/default/svg
      - qgis_projects:/io/data:ro
      # - ./docker/qgis/fonts:/usr/share/fonts # Causing nginx 404 issues
      # - ./docker/qgis/conf/pg_service.conf:/etc/postgresql-common/pg_service.conf:ro # Mounted and edited by Dockerfile
    depends_on:
      - postgres
    restart: on-failure


  osm2pgsql:
    profiles:
      - osm
    image: iboates/osm2pgsql:latest
    volumes:
      - ./docker/osm2pgsql/data:/data
    environment:
      - PGPASSWORD=${POSTGRES_GEODATA_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      osm2pgsql
      --create
      --database=${POSTGRES_DB}
      --user=${POSTGRES_GEODATA_USER}
      --host=${POSTGRES_HOST}
      --port=${POSTGRES_PORT}
      --hstore
      --slim
      --schema=${POSTGRES_GEODATA_SCHEMA}
      /data/cameroon-latest.osm.pbf

volumes:
  caddy_data:
  caddy_config:
  vue_node_modules:
  docs_node_modules:
  database_data:
  nominatim-data:
  qgis_projects:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./docker/qgis/data
