<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte Exportée</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        h1 { color: #333; }
        .map-container { width: 100%; height: 100%; }
        .map-img { max-width: 500px; height: 500px; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>My map</h1>
    <span>{{ map_url[:30] }}</span>
    <div class="map-container">
        <img src="{{ map_url }}" alt="Test"/>
    </div>
</body>
</html>
