// Imported in app.vue
@import '@/assets/styles/global/_variables';
@import '@/assets/styles/global/vuetifyOverrides';
@import '@/assets/styles/views/header';
@import '@/assets/styles/views/actors';


#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

a {
    color: #000;
}

.Link--withoutUnderline {
    text-decoration: none;
}

* {
    font-family: $font-secondary;
}
    
h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 700;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

.v-overlay__scrim {
    background: rgba(0,0,0,0.2) !important;
    opacity: .5;
    cursor: pointer;
}

.font-ojuju {
    font-family: $font-primary;
}

.App__content--desktop{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px $desktop-side-padding;
    background-image: url('/img/Frame.svg');
    background-position: top right;
    background-size: 45% auto;
}

.App__content--mobile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px $mobile-side-padding;
    background-image: url('/img/Frame.svg');
    background-position: top right;
    background-size: 100% auto;
    margin-top: 64px;
}

// .v-field--variant-solo, .v-field--variant-solo-filled {
//     box-shadow: none !important;
// }

