// Imported in app.vue
@import '@/assets/styles/global/_variables';
@import '@/assets/styles/global/vuetifyOverrides';
@import '@/assets/styles/views/header';
@import '@/assets/styles/views/actors';


#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Onest", sans-serif;
}

.font-ojuju{
    font-family: "Ojuju", sans-serif;
}

.App__content--desktop{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px $desktop-side-padding;
    background-image: url('/img/Frame.svg');
    background-position: top right;
    background-size: 45% auto;
}

.App__content--mobile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px $mobile-side-padding;
    background-image: url('/img/Frame.svg');
    background-position: top right;
    background-size: 100% auto;
    margin-top: 64px;
}

// .v-field--variant-solo, .v-field--variant-solo-filled {
//     box-shadow: none !important;
// }

